// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 20px;
  border-radius: 10px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 100px;
  width: 100%;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 20px;
}

.btn-home {
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;

}
