<div class="footer">
  <p>Warriors, embrace KnightTime's Medieval Experiences—a journey through the heart of battles!</p>
 <div class="icon-container-homepage">
    <i class="fab fa-facebook fa-lg"></i>
    <i class="fab fa-instagram fa-lg"></i>
    <i class="fab fa-line fa-lg"></i>
  </div>
</div>
