
<div class="container">
  <div class="col-lg-12">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://knightstemplar.co/wp-content/uploads/2023/07/spanish_knights_in_medieval_times.jpg);">
      <div class="container">
        <h1>KnightTime Medieval Experiences!</h1>
        <p>Grab a weapon and prepare to meet your destiny...</p>
      </div>
    </div>
  </div>
</div>


<div class="button">
  <%=  link_to "Go stab your firends!", experiences_path %>
</div>
