<%# New Review Form %>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Write a Review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for review, url: experience_reviews_path(params[:id])  do |f| %>
          <%= f.input :content %>
          <%= f.input :danger_level, as: :select, collection: (1..5) %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Post', class: "btn btn-success w-100" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
