<%= render 'category_navbar', categories: @categories %>
<div class="container">
  <h1 class="mt-3">Experiences</h1>
  <%# create individual cards %>
  <div class="cards">
    <% @experiences.each do |experience| %>
      <%= render 'experience_card', experience: experience, favorite: @favorite %>
    <% end %>
  </div>
</div>
