$card-height: 65vh;
$card-width: calc(var($card-height) / 1.5);

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

// Border for experiences index

.card-border {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.border-animated {
  width: 342px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  position: relative;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    width: 104%;
    height: 96%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #a27fe8, #9065E9 43%, #372765);
    position: absolute;
    z-index: -1;
    top: 0%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(var($card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(3.5rem);
    background-image: linear-gradient(var(--rotate),
    #a27fe8, #9065E9 43%, #372765);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
}

// Background for booking index

.big-card-border {
  display: flex;
  flex-direction: column;
}

.big-border-animated {
  width: 100%;
  height: 121px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  position: relative;

  &::before {
    content: "";
    width: 699px;
    height: 105px;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #a27fe8, #9065E9 43%, #372765);
    position: absolute;
    z-index: -1;
    top: 3px;
    left: -2px;
    animation: spin 2.5s linear infinite;
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(var($card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(1.5rem);
    background-image: linear-gradient(var(--rotate),
    #a27fe8, #9065E9 43%, #372765);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
