$card-height: 65vh;
$card-width: calc(var($card-height) / 1.5);

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card-border {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.border-animated {
  width: max-content;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 7px;
  border-radius: 6px;
  position: relative;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #a35dff, #4e00c2 43%, #32104F);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(var($card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(3.5rem);
    background-image: linear-gradient(var(--rotate), #a35dff, #4e00c2 43%, #32104F);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
