// Booking index page

.card-product {
  height: 100%;
  width: 50em;
  background: $bg-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px 0px 15px 0px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-product img {
  height: 200px;
  width: 18em;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// host booking index page start
.card-product-host-bookings {
  width: 100%;
  height: 150px;
  background: $bg-color;
}

.card-product-host-bookings img {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

// host booking index page end


// Experiences index page cards start
.cards {
  display: grid;
}

.card-trip {
  overflow: hidden;
  background: $bg-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 5px 20px 15px 20px;
  height: auto;
  width: 350px;

  &:hover {
    background: rgba(36, 36, 36, 0.588);
    transition: 1s;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.fa-crown {
  position: absolute;
  opacity: .8;
  filter: drop-shadow(1px 1px 1px black);
  top: 4px;
  right: -4px;
  color: lightgrey;
  z-index: 6;
  padding: 7px;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// formatting of individual card links
.card-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
// Experiences index page cards end

.favorite {
  color: $yellow;
}
